<div class="jumbotron">
  <h1>KW's Blog Home Page</h1>
  <p><!--<a class="btn btn-primary btn-lg btn-xlg" role="button"><%= link_to "Sign Up!", signup_path %></a-->
  		<%= link_to "Sign Up!", signup_path, class: "btn btn-primary btn-lg btn-xlg", role: "button" %>
  </p>
  

<%= image_tag 'orange-fractal-spiral.jpg' %><br>
 <%= link_to "About", pages_about_path %> | <%= link_to "Articles", articles_path %>
</div>

